<div class=" rounded-lg p-3 shadow-xl">
  <h1 class="text-4xl font-bold mb-10">{{title}}</h1>
  <form [formGroup]="form" (submit)="enviar()">
    <!-- formulario-useerrrrr -->
    <div> <label for="user">Username: </label></div>
    <div><input type="text" id="user" name="user" placeholder="Nombre de usuario" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none border" formControlName="user" [ngClass]="form.get('user')?.untouched || form.get('user')?.valid ? 'text-slate-700 border-transparent':'border border-rose-500 text-rose-500 '"></div>

    <!-- formulario contraseña-------- -->
    <div> <label for="pass">Contraseña: </label></div>
    <div><input type="password" id="pass" name="pass" placeholder="Min. 4 carácteres" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" formControlName="pass" [ngClass]="form.get('pass')?.untouched || form.get('pass')?.valid ? 'text-slate-700 border-transparent':'border border-rose-500   text-rose-500 '"></div>
    <div><button class=" text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" [disabled]="form.invalid" [ngClass]="form.invalid? 'bg-slate-300':'bg-white hover:bg-gray-100'">iniciar sesión</button></div>
  </form>
  <p>{{mensaje}}</p>
</div>